  #startServerBtn {
    background-color: #eff7f6;
    color: #000C18;
  }
  
  #startServerBtn:hover {
    background-color:#90dbf4;
    /* color: #ffffff; */
    transition: 0.7s;
  }
  
  #startServerBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #90dbf4;
  }
  #startServerBtn:active {
    background-color: #90dbf4;
    color: #ffffff;
  }
  #openAddressBtn {
    background-color: #eff7f6;
    color: #000C18;
  }
  
  #openAddressBtn:hover {
    background-color:#90dbf4;
    /* color: #ffffff; */
    transition: 0.7s;
  }
  
  #openAddressBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #90dbf4;
  }
  #openAddressBtn:active {
    background-color: #90dbf4;
    color: #ffffff;
  }